---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import SponsorCarousel from "../../components/SponsorCarousel.astro";
---

<Layout title="Home | SIMG">
  <Header slot="header" />
  <main class="container">
    <h1>Developing Potential</h1>
    <p>
      This is the home page of the SIMG - Artificial Intelligence Research
      Seminar website.
    </p>
    <p>
      Located at the heart of innovation in Colombia at the National University
      of Colombia - UNAL, SIMG is a community of researchers, academics, and
      enthusiasts dedicated to exploring and advancing the field of artificial
      intelligence (AI), information theory, and machine learning, committed to
      excellence and innovation.
    </p>

    <button class="cta-button">Read More</button>

    <!-- Añadimos el carrusel de patrocinadores -->
    <SponsorCarousel />
  </main>
</Layout>

<style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .cta-button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .cta-button:hover {
    background-color: #005fa3;
  }
</style>
