---
const browserLang = Astro.request.headers.get("accept-language")?.split(",")[0].split("-")[0] || "en";
const preferredLang = browserLang === "es" ? "es" : "en";
const redirectUrl = `/${preferredLang}/`;
---
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0;url={redirectUrl}">
  <script define:vars={{ redirectUrl }}>
    window.location.href = redirectUrl;
  </script>
</head>
<body></body>
</html>

